<!-- templates/agents/agents.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- START: breadcrumb -->
  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <div class="page-title probootstrap-animate">
              <div class="probootstrap-breadcrumbs">
                <a href="#">Home</a><span>Agents</span>
              </div>
              <h1>Agents</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url({% static 'assets/img/slider_1.jpg' %});"></li>
      <li style="background-image: url({% static 'assets/img/slider_4.jpg' %});"></li>
      <li style="background-image: url({% static 'assets/img/slider_2.jpg' %});"></li>
    </ul>
  </section>
  <!-- END: breadcrumb -->
  
  <!-- START: Our Agents -->
  {% include '_partials/our-agents.html' %}
  <!-- END: Our Agents -->

  <!-- START: Why Choose Us -->
  {% include '_partials/why-choose-us.html' %}
  <!-- END: Why Choose Us -->

{% endblock content %}